body {
    background-image: url('../img/bg01.jpg') !important;
    background-size: cover !important;
    font-family: 'Roboto', sans-serif !important;
    color: #343a40;
}

.login-pf-page {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-direction: column;
    height: 100vh;
}

.login-pf-page > div {
    width: 440px;
}

.card-pf {
    min-height: 500px;
    background: #fff;
    box-shadow: 0 1px 15px 1px rgb(0 0 0 / 50%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#kc-page-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.pf-c-button.pf-m-primary {
    border-radius: 5px;
    padding: 10px;
    background-color: #2e66a2;
    margin-top: 1rem;
}

a {
    font-weight: bold;
    text-decoration: none !important;
    font-size: .8rem;
}

#kc-info-wrapper {
    color: #888;
    font-weight: bold;
    font-size: .8rem;
}

.pf-c-form__label  {
    font-weight: bold;
}

.pf-m-error {
    color: rgb(186, 60, 60);
}

.pf-c-form-control {
    border-color: #ddd;
    border-radius: 3px;
}

.pf-c-about-modal-box,
.pf-c-accordion,
.pf-c-alert,
.pf-c-alert-group,
.pf-c-app-launcher,
.pf-c-avatar,
.pf-c-backdrop,
.pf-c-background-image,
.pf-c-badge,
.pf-c-brand,
.pf-c-breadcrumb,
.pf-c-button,
.pf-c-card,
.pf-c-check,
.pf-c-chip,
.pf-c-chip-group,
.pf-c-clipboard-copy,
.pf-c-content,
.pf-c-context-selector,
.pf-c-data-list,
.pf-c-data-toolbar,
.pf-c-divider,
.pf-c-drawer,
.pf-c-dropdown,
.pf-c-empty-state,
.pf-c-expandable,
.pf-c-form,
.pf-c-form-control,
.pf-c-input-group,
.pf-c-label,
.pf-c-list,
.pf-c-login,
.pf-c-modal-box,
.pf-c-nav,
.pf-c-notification-badge,
.pf-c-options-menu,
.pf-c-overflow-menu,
.pf-c-page,
.pf-c-pagination,
.pf-c-popover,
.pf-c-progress,
.pf-c-radio,
.pf-c-select,
.pf-c-skip-to-content,
.pf-c-spinner,
.pf-c-switch,
.pf-c-tab-content,
.pf-c-table,
.pf-c-tabs,
.pf-c-title,
.pf-c-toolbar,
.pf-c-tooltip,
.pf-c-wizard,
.pf-l-bullseye,
.pf-l-flex,
.pf-l-gallery,
.pf-l-grid,
.pf-l-level,
.pf-l-split,
.pf-l-stack {
    font-family: 'Roboto', sans-serif !important;
}

.pf-c-form-control:not(textarea) {
    height: var(--pf-c-form-control--Height);
    text-overflow: ellipsis;
    font-size: 14px;
}

:focus-visible {
    outline-color: #bbb;
    outline-width: .5px;
}

@media (max-width: 500px) {
    .login-pf-page > div {
        width: 90%;
    }
  }